.dashboard-content{
    border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-color: #f6f5f4;


}
.left-text{
    border: 1px solid green;
    width: 45%;
    /* height: 30vh; */
    /* margin-top: 20%; */
    /* line-height: 4rem; */
}
/* .left-text span{
    display: block;
    margin-left: 20%;
} */
.right-img{
    border: 1px solid green;
    width: 55%;
    /* height: 30vh; */
    /* margin-top: 15%; */
   
 

}
/* .right-img img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-left: 13%;
} */